[phases.setup]
nixPkgs = [
    "php82", 
    "php82Packages.composer", 
    "php82Extensions.mongodb", 
    "php82Extensions.pdo_mysql", 
    "php82Extensions.intl"
]

[phases.install]
cmds = ["cd backend_vite_gourmand && composer install --optimize-autoloader --no-interaction --ignore-platform-req=ext-mongodb"]

[start]
cmd = "cd backend_vite_gourmand && php bin/console doctrine:migrations:migrate --no-interaction && php bin/console lexik:jwt:generate-keypair --overwrite && heroku-php-apache2 public/"