[phases.setup]
nixPkgs = ["php83", "php83Packages.composer", "php83Extensions.mongodb", "php83Extensions.pdo_mysql", "php83Extensions.intl"]

[phases.install]
cmds = [
    "cd backend_vite_gourmand && COMPOSER_ALLOW_SUPERUSER=1 composer install --optimize-autoloader --no-interaction --no-scripts --ignore-platform-req=ext-mongodb",
    "cd backend_vite_gourmand && COMPOSER_ALLOW_SUPERUSER=1 composer dump-env prod --empty"
]

[start]
# On force le chemin vers le sous-dossier pour TOUTES les commandes
cmd = "php backend_vite_gourmand/bin/console doctrine:migrations:migrate --no-interaction && php backend_vite_gourmand/bin/console lexik:jwt:generate-keypair --overwrite && heroku-php-apache2 backend_vite_gourmand/public/"

# Force rebuild 1