[phases.setup]
nixPkgs = [
    "php83", 
    "php83Packages.composer", 
    "php83Extensions.mongodb", 
    "php83Extensions.pdo_mysql", 
    "php83Extensions.intl"
]

[phases.install]
# On ajoute --no-scripts pour éviter que Symfony cherche le .env pendant l'installation
cmds = ["cd backend_vite_gourmand && COMPOSER_ALLOW_SUPERUSER=1 composer install --optimize-autoloader --no-interaction --no-scripts --ignore-platform-req=ext-mongodb"]

[start]
# Au démarrage, Symfony utilisera les variables saisies dans Railway
cmd = "cd backend_vite_gourmand && php bin/console doctrine:migrations:migrate --no-interaction && php bin/console lexik:jwt:generate-keypair --overwrite && heroku-php-apache2 public/"