[phases.setup]
nixPkgs = ["php83", "php83Packages.composer", "php83Extensions.pdo_mysql", "php83Extensions.intl", "php83Extensions.mongodb"]

[phases.install]
cmds = ["cd backend_vite_gourmand && composer install --optimize-autoloader --no-interaction --no-scripts --ignore-platform-req=ext-mongodb"]

[start]
# On force l'export de APP_ENV avant toute commande PHP
cmd = "cd backend_vite_gourmand && export APP_ENV=prod && composer dump-env prod --empty && php bin/console doctrine:migrations:migrate --no-interaction && heroku-php-apache2 public/"