security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    role_hierarchy:
        ROLE_ADMIN:   ROLE_EMPLOYE # L'admin hérite des droits de l'employé
        ROLE_EMPLOYE: ROLE_USER

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login:
            pattern: ^/api/login
            stateless: true
            json_login:
                check_path: /api/login_check
                username_path: email
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
        
        api:
            pattern: ^/api
            security: true
            stateless: true
            jwt: ~
            
        main:
            lazy: true
            provider: app_user_provider
            json_login:
                check_path: api_login
                username_path: email
                password_path: password
            # Supprime toute ligne mentionning 'custom_authenticator' ou 'form_login'
            # On laisse le firewall "ouvert" pour que notre contrôleur API fasse le travail

    # Note: Only the *first* matching rule is applied
    access_control:
        # 1. Routes publiques (doivent être en haut)
        - { path: ^/api/login, roles: PUBLIC_ACCESS }
        - { path: ^/api/hours, roles: PUBLIC_ACCESS }
        - { path: ^/api/menus, roles: PUBLIC_ACCESS }

        # 2. Lecture seule
        - { path: ^/api/avis, roles: PUBLIC_ACCESS, methods: [GET] }
        

        # 3. Routes protégées
        - { path: ^/api/avis, roles: ROLE_USER, methods: [POST] }
        - { path: ^/api/admin, roles: ROLE_EMPLOYE }
        

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon